{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block navbar %}{% endblock %}

{% block body %}
    <div class="container">
        {% include 'alerts.html.twig' %}
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Welcome on ThronesDB</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form">
                            <p>Please log in to proceed. Your password will remain confidential.</p>
                            <form id="login" class="vertical" action="{{ path('oauth_server_auth_login_check') }}"
                                  method="post">
                                <div class="form-group">
                                    <label for="username">{{ 'security.login.username'|trans }}</label>
                                    <input type="text" id="username" name="_username" class="form-control" required="required"/>
                                </div>

                                <div class="form-group">
                                    <label for="password">{{ 'security.login.password'|trans }}</label>
                                    <input type="password" id="password" name="_password" class="form-control" required="required"/>
                                </div>
                                <div>
                                    <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
