<style>
    .new {
        color: red
    }

    p.mplain {
        color: green
    }

    i {
        font-weight: bold
    }
</style>

<div style="text-align:justify">

    <h1 id="FAQ">Notes, Errata, and Frequently Asked Questions</h1>
    <h3>The Conclave (Version 1.0), effective 04/13/2020 (<a href="https://agot.cards/wp-content/uploads/2020/04/RL_list_041320-1.pdf" target="_blank">link</a>).</h3>

    <p>This document contains card clarification, errata, rule clarifications, frequently asked questions, and quick
        reference material for <em>A Game of Thrones: The Card Game</em>. The most recent version of this document is
        considered a supplement to the <em>A Game of Thrones: The Card Game</em> Tournament Regulations and the <em>A
            Game of Thrones: The Card Game</em> <a href="{{ path('rulesreference') }}" target="_blank">Rules
            Reference</a>. All changes and additions to this document since the previous version are marked in <span
                class="new">red</span>.</p>

    <p><em>This document is a continuation of the final FFG-issued FAQ (Version 3.0, effective 01/13/2020), which can be found
        <a href="https://images-cdn.fantasyflightgames.com/filer_public/7c/64/7c642fb4-cce0-4aae-8633-3a861d7727fd/agot_lcg_faq_30.pdf" target="_blank">here</a>.
        </em>
    </p>

    <p>
        <b>New Content (Conclave v1.0):</b>
        <a href="#Joust_Restricted_List">Joust Restricted List</a>,
        <a href="#Banned_List">Banned List</a>
    </p>

    <p class="mplain"><b>Notes</b> and <b>Related</b> cards added by <b>mplain</b>.</p>

    <h1 id="Notes_and_Errata">Notes and Errata</h1>

    <p>This section contains notes and errata pertaining to specific cards or sections of the rulebook. The document
        version number in which an entry first appeared is listed with that entry in order to establish a history of
        when each change was made.
    <p>

    <p>Errata overrides the originally printed information on the card it applies to. Unless errata for a card appears
        below, the original English non-draft product printing of that card and all of its information is considered
        accurate, and overrides all other printings. This includes translated cards, promotional or organized play
        cards, and printings which may appear in alternate products.</p>

    <h2 id="Rulebook_Errata">Rulebook Errata</h2>

    <p><b>(v1.0) Rules Reference page 26, column 1, paragraph 9</b><br>
        The phrase "<em>all relevant <u>reserve</u> modifiers</em>" should read: "all relevant <u>initiative</u>
            modifiers."</p>

    <h2 id="Card_Errata">Card Errata</h2>

    <p><b>(v1.0) <a href="{{ path('cards_zoom', { card_code: "02063" }) }}" target="_blank">Ser Horas Redwyne</a> <em>(Westeros,
                63)</em></b><br>
        Should read: "...choose and stand a <i>Lady</i> chara<u>c</u>ter."</p>

    <p><b>(v1.4) <a href="{{ path('cards_zoom', { card_code: "08112" }) }}" target="_blank">Driftwood Cudgel</a> <em>(Flight of Crows,
                112)</em></b><br>
        Interrupt ability should have the text: "(Limit once per phase.)"</p>

    <p><b>(v1.4) <a href="{{ path('cards_zoom', { card_code: "08114" }) }}" target="_blank">To Go Forward You Must Go Back</a> <em>(Flight
                of Crows, 114)</em></b><br>
        Should read: "<b>Dominance Action:</b> Each player may shuffle his or her hand (of at least 1 card) into his
            or her deck. Each player that does draws 5 cards."</p>

    <p><b>(v2.0) <a href="{{ path('cards_zoom', { card_code: "05028" }) }}"
                    target="_blank">Old Wyk</a> <em>(Lions of Casterly Rock, 28)</em></b><br>
    Should read: "...Then, if you win the challenge by 5 or more STR, return that character to your hand. Otherwise, place it on the bottom of your deck."</p>

    <p><b>(v2.0) <a href="{{ path('cards_zoom', { card_code: "12001" }) }}"
                    target="_blank">Balon Greyjoy</a> <em>(Kings of the Isles, 1)</em></b><br>
    Should read: "...At the end of the phase, if that card is still in play, shuffle it into its owner's deck."</p>

    <p>
        <b>
            (v2.1)
            <a href="{{ path('cards_zoom', { card_code: "04111" }) }}" target="_blank">Esgred</a>
            <em>(War of the Five Rings, 111)</em>
        </b>
        <br>
            Should read: "If you control Asha Greyjoy, sacrifice Esgred.
            Then, your Asha Greyjoy gains 1 power."
    </p>

    <p>
        <b>
            (v2.2) Kingsgrave <em>(Fury of the Storm, 30)</em>
        </b>
        <br>
            Card text is improperly formatted; the word &quot;Kingsgrave&quot; should
            not be formatted as a trait.
    </p>
    <p>
        <b>
            (v2.2) Dothraki Steed <em>(Fury of the Storm, 36)</em>
        </b>
        <br>
            Should read: &quot;Limit 1 copy per character.&quot;
    </p>
    <h1 id="Definitions_and_Terms">Definitions and Terms</h1>

    <p>This section provides definitions for important terms that serve a precise function in the game. The terms are
        presented in alphabetical order.</p>

    <h3 id="Choose">Choose</h3>

    <p>The word "choose" indicates that an ability selects one or more targets. In the absence of the word "choose," an
        ability is not considered to be a targeting ability.</p>

    <p class="mplain"><b>Related:</b> <a href="{{ path('cards_zoom', { card_code: "01044" }) }}" target="_blank">Tears of Lys</a>,
        <a href="{{ path('cards_zoom', { card_code: "02115" }) }}" target="_blank">Tyene Sand</a>,
        <a href="{{ path('cards_zoom', { card_code: "04036" }) }}" target="_blank">Venomous Blade</a>,
        <a href="{{ path('cards_zoom', { card_code: "01116" }) }}" target="_blank">Ghaston Grey</a>,
        <a href="{{ path('cards_zoom', { card_code: "02112" }) }}" target="_blank">Drowned God's Blessing</a>,
        <a href="{{ path('cards_zoom', { card_code: "04022" }) }}" target="_blank">Fear Cuts Deeper Than Swords</a>.</p>


    <h3 id="Derived_Information">Derived Information</h3>

    <p>Derived information is any information about the game, game state, or cards all players have had the opportunity
        to learn through card/game effects or through the process of deduction using open information. This includes any
        modified stats or text of a card, tokens assigned to particular cards, choices a player made or actions a player
        took that are still affecting the game state or a card(s), etc.</p>

    <p>Derived information may be marked with the use of a token or other indicator so that players remember the
        information. A player cannot misrepresent derived information or hide the open information necessary to discover
        derived information.</p>

    <p>If derived information is dependent on a player's previous decision or action, he or she must answer truthfully
        when asked about that decision or action. For example, Steph chooses Military when she reveals <a
                href="{{ path('cards_zoom', { card_code: "01008" }) }}" target="_blank">Calm Over Westeros</a> (Core Set, 8). During the
        Challenge Phase, Bryan forgets and asks Steph which challenge type she chose for Calm Over Westeros. Steph must
        answer honestly that she chose Military.</p>

    <p>If derived information becomes hidden information, the player who made a previous decision or action related to
        that information is not required to divulge any details about that decision or action. For example, Bryan
        reveals <a href="{{ path('cards_zoom', { card_code: "01022" }) }}" target="_blank">Summons</a> and chooses Ser Jaime Lannister,
        revealing the card to Steph. Later in the game round, Steph forgets what card Bryan revealed from Summons, but
        Bryan is not required to tell her, as Ser Jaime Lannister became hidden information (moving into Bryan's hand)
        after the Summons effect finished resolving.</p>

    <h3 id="Hidden_Information">Hidden Information</h3>

    <p>Hidden information is any information about the game, game state, or cards unavailable to one or more players.
        This includes the cards in a player's hand, unrevealed plot cards, etc. If a card is temporarily revealed, it is
        derived information for as long as the player(s) is able to uniquely identify that card.</p>

    <p>A player cannot learn hidden information without the aid of a game effect, rule, or another player verbally
        communicating the information. However, if a player that has access to hidden information about the game or a
        card and chooses to verbally share it with his or her opponent, that player is not required to tell the
        truth.</p>

    <h3 id="Open_Information">Open Information</h3>

    <p>Open information is any information about the game, game state, or cards that is available to all players. This
        includes faceup cards in a player's discard, dead, and used piles, the number of cards in a player's deck or
        hand, any cards that have been removed from the game, the amount of gold and power a player has, and any other
        information continuously available to all players.</p>

    <p>All players are entitled access to open information and cannot hide open information from an opponent or omit
        specific details. A player must allow his or her opponent to discover the information themselves if they attempt
        to do so.</p>


    <h3 id="Terminal_Condition">Terminal Condition</h3>

    <p>This term describes a delayed effect, usually created by a constant ability or lasting effect, that will attempt
        to drive a card out of play whenever a certain condition is met. An example of a terminal condition is: <em>"Until
            the end of the phase, that character is killed if its STR is 0."</em></p>

    <p class="mplain"><b>Related:</b> <a href="{{ path('cards_zoom', { card_code: "01173" }) }}" target="_blank">Plaza of Punishment</a>,
        <a href="{{ path('cards_zoom', { card_code: "01176" }) }}" target="_blank">Dracarys!</a>,
        <a href="{{ path('cards_zoom', { card_code: "02034" }) }}" target="_blank">Crown of Gold</a>,
        <a href="{{ path('cards_zoom', { card_code: "02075" }) }}" target="_blank">Blood of the Dragon</a>.</p>

    <h1 id="Rulings_and_Clarifications">Rulings and Clarifications</h1>

    <p>This section contains additions and clarifications to the core game rules. Each entry is presented with a unique
        section number so it can be easily identified when making rulings, answering questions, or otherwise referring
        to the entry.</p>

    <p>It should be used in conjunction with the Rules Reference to establish the rules of play. If the text of this
        document directly contradicts the text of the Rules Reference, the text of this document takes precedence.</p>

    <h2 id="Game_Play">1. Game Play</h2>

    <h3 id="Infinite_Loops">(1.1) Infinite Loops</h3>

    <p>It is possible, with certain card combinations, to create an "infinite loop" (such as having two cards kneel to
        stand each other indefinitely). When executing an infinite loop, a player follows these steps:</p>

    <ol>

        <li>Clearly display the infinite loop to the opponent (and tournament judge, if the opponent requires it). Thus,
            the player must display, using all cards involved, one full cycle of the infinite loop.
        </li>
        <li>State how many times he or she wishes to execute the loop. For example, the player could say, "I will now
            execute this loop seventeen times." Then, resolve the loop that many times instantly. If the execution of
            this loop causes the player to win the game, the game is over and the executing player wins.
        </li>

    </ol>

    <p>Infinite loops should never be used to cause a game to stall.</p>

    <p>When resolving the abilities within a loop, a player is not compelled to make a choice that would avoid the
        continuation of the loop. For instance, if the only means to break a loop would be for a player to make a choice
        he or she does not desire to make, the player is not compelled to make that choice: as the player could
        theoretically keep the loop going forever, he or she is permitted to voluntarily end the sequence after the
        chosen number of executions of the loop have been completed without ever making the undesirable choice.</p>

    <p class="mplain"><b>Related:</b> <a href="{{ path('cards_zoom', { card_code: "02084" }) }}" target="_blank">Pulling the Strings</a>.
    </p>

    <h3 id="Duplicates">(1.2) Duplicates</h3>

    <p>In order to bring a card into play as a duplicate, both the duplicate and the unique card that would be
        duplicated must be owned and controlled by the player attempting the duplication.</p>

    <p>A player cannot bring a unique card into play as a duplicate if another copy of that unique card is in his or her
        dead pile.</p>

    <p>
        Marshaling a duplicate is not considered to be marshaling a card with any of that card’s characteristics.
        It is only considered to be "marshaling a duplicate." While marshaling a duplicate, that card is not subject to
        restrictions based on the card’s printed characteristics, including cardtype, faction, keywords, etc.</p>
    <p>
        If an ability cancels the “effects of an event,” that ability can cancel the effects of any triggered
        ability on an event card.
    </p>

    <p class="mplain"><b>Note:</b> Taking control of a card does not give you control of its duplicates and attached
        cards.<br>
        <b>Related:</b> "Take control" effects, <a href="{{ path('cards_zoom', { card_code: "02064" }) }}" target="_blank">The Arbor</a>,
        <a href="{{ path('cards_zoom', { card_code: "05017" }) }}" target="_blank">Golden Tooth</a>.</p>

    <h3 id="Unique_cards">(1.3) Unique cards in play and in the dead pile</h3>

    <p>The following defines the control and ownership rules surrounding unique cards:</p>

    <ul>

        <li>A player cannot marshal, put into play, or take/gain control of a unique card if another copy of that card
            is in his or her dead pile.
        </li>
        <li>A player cannot marshal or put into play a copy of an opponent's unique card if another copy of that unique
            card (owned either by the player attempting to bring the card into play, or by the opponent who owns the
            unique card that is attempting to enter play) is already in play or is in its owner's dead pile.
        </li>
        <li>An ability that puts a unique card into play from a player's dead pile functions only if there would be no
            other copies of that card in that dead pile upon resolution of the ability.
        </li>
        <li>If a player controls a unique card that he or she does not own, that player and that card's owner cannot
            marshal or put into play additional copies of that card, regardless of ownership.
        </li>
        <li>If a player controls a unique card (regardless of ownership) that player cannot take/gain control of other
            copies of that card.
        </li>
        <li>If a player owns and controls a unique card, each other copy of that card that he or she owns and controls
            that would enter play does so as a duplicate.
        </li>

    </ul>

    <p class="mplain"><b>Related:</b> "Take control" effects,
        <a href="{{ path('cards_zoom', { card_code: "01069" }) }}" target="_blank">Euron Greyjoy</a>,
        <a href="{{ path('cards_zoom', { card_code: "01129" }) }}" target="_blank">Yoren</a>,
        <a href="{{ path('cards_zoom', { card_code: "04046" }) }}" target="_blank">Night Gathers...</a></p>

    <h3 id="Control_of_Tokens">(1.4) Control of Tokens</h3>

    <p>Tokens are not considered to be under a player's control. Rather, tokens exist either in game areas (such as in a
        player's gold pool) a player controls or on cards (such as on a faction card or on a character) that are under a
        player's control.</p>

    <ul>

        <li>A player's power total is determined by counting the total number of power on cards he or she controls.</li>
        <li>Unless otherwise specified by an ability, a player may only use tokens that are in game areas or on cards he
            or she controls to pay costs.
        </li>

    </ul>

    <h3 id="Playing_Events">(1.5) Playing Events</h3>

    <p>Playing an event is defined as the process by which an event is revealed from its owner's hand, its costs are
        paid and targets chosen (if applicable), its effects resolve (or are canceled), and it is placed in its owner's
        discard pile.</p>

    <p>After an event's costs are paid and its targets chosen (if applicable), that event leaves its controller's hand.
        During steps 6 and 7 of ability initiation (<a
                href="{{ path('rulesreference', { _fragment: 'Initiating_Abilities_Marshaling_Cards' }) }}" target="_blank">Rules
            Reference, page 10</a>), the event is in the process of being played, and is not considered to be in any
        specific out-of-play area. The event is placed in its owner's discard pile after its effects are resolved in
        step 7.</p>

    <p>Some events have additional abilities that can only be triggered while the event is not in its owner's hand.
        Triggering such an ability is not considered to be "playing an event," and does not require paying the event's
        normal cost, only the cost of that ability.</p>

    <p><em>For example: <a href="{{ path('cards_zoom', { card_code: "06016" }) }}" target="_blank">The Prince's Plan</a> (Blood and
            Gold, 16) has the ability "<b>Reaction:</b> After you lose a challenge, pay 1 gold to return The Prince's
            Plan from your discard pile to your hand." Triggering this ability is not considered playing the event, so
            you need only pay the 1 gold described in the ability's text, and not the 2 gold cost of playing The
            Prince's Plan.</em></p>

    <p>If an ability cancels the "effects of an event," that ability can cancel the effects of any triggered ability on
        an event card.</p>

    <h3 id="Priority_of_Simultaneous_Resolution">(1.6) Priority of Simultaneous Resolution</h3>

    <p>If two or more constant abilities and/or lasting effects cannot be applied simultaneously, the first player
        determines the order in which those constant abilities or lasting effects are applied. If the two ablities
        cannot coexist, the first player determines which one applies.</p>

    <p>This determination is made only once, at the time the conflicting abilities would first affect the game state.
        This choice is then maintained as long as the conflicting abilities remain active. If at any point an additional
        conflicting ability becomes active, the first player may make a new determination.</p>

    <p><em>For example: The first player has <a href="{{ path('cards_zoom', { card_code: "04020" }) }}" target="_blank">Varys's
                Riddle</a> (War of Five Kings, 20) revealed, while that player's opponent has <a
                    href="{{ path('cards_zoom', { card_code: "04039" }) }}" target="_blank">Summer Harvest</a> (War of Five Kings, 39)
            revealed, creating two conflicting values for the gold value on Summer Harvest. When the Summer Harvest
            player collects income, the first player will choose which value applies. If another effect later in the
            round references the gold value on Summer Harvest (for instance, <a href="{{ path('cards_zoom', { card_code: "06046" }) }}"
                                                                                target="_blank">Underground Vault</a>
            (Blood and Gold, 46)), the same gold value will be used.</em></p>

    <h3 id="Paying_Costs">(1.7) Paying Costs</h3>

    <p>The resolution of some effects (such as post-then effects or delayed effects) requires that costs are paid after
        the initiation of the effect. Such costs need not be verified when initiating the ability and determining if its
        costs can be paid. If such costs cannot be paid at the required time, that aspect of the effect fails to
        resolve.</p>

    <h3 id="Paying_Costs">(1.8) Interrupts and Reactions to Abilities with "Then" Effects</h3>

    <p>If the effect text of an ability includes the word "then," the pre-then and post-then aspects of the effect share
        a common reaction window, which opens after the entire effect has resolved. Reactions to costs paid as part of
        the post-then aspect of the ability also share this reaction window. Interrupts may be initiated during the
        resolution of such effects any time their triggering condition occurs, meaning that the pre-then and post-then
        aspects of the ability may be interrupted separately.</p>

    <p class="mplain"><b>Related:</b> <a href="{{ path('cards_zoom', { card_code: "01104" }) }}" target="_blank">Arianne Martell</a> +
        <a href="{{ path('cards_zoom', { card_code: "08041" }) }}" target="_blank">Ramsay Snow</a>.</p>

    <h3 id="Card_Abilities_During_Setup">(1.9) Card Abilities During Setup</h3>
    <p>Because setup occurs before the game begins, card abilities are not active during setup unless the
        ability specifically references setup or a timing point during setup (such as “after all agendas are announced”).
    </p>
    <p><em>For example: <a href="{{ path('cards_zoom', { card_code: "10041" }) }}" target="_blank">Oldtown
        Scholar</a> (Sands of Dorne, 41) cannot trigger its reaction after a player replenishes his or her hand during
        step 10 of setup.</em></p>

    <h2 id="Card_Ability_Interpretation">2. Card Ability Interpretation</h2>

    <h3 id="Cannot_be_X-ed">(2.1) Cannot be {Variable}ed</h3>

    <p>If a card "cannot be {variable}ed," where {variable} is something that would happen to the card such as "killed,"
        "discarded," or "knelt," that card cannot be chosen to be {variable}ed by a card ability or game effect that
        would {variable} the card. Further, a card that cannot be {variable}ed ignores any non-targeting ability or game
        effect that would {variable} it.</p>

    <p><em>For example: A card that "cannot be killed" cannot be chosen to be killed to satisfy military challenge
            claim, cannot be chosen as the target of an ability that would kill it, and it would ignore the effect of an
            ability that reads, "Kill each character in play."</em></p>

    <p class="mplain"><b>Related:</b> <a href="{{ path('cards_zoom', { card_code: "02098" }) }}" target="_blank">The Eyrie</a>.</p>

    <h3 id="Delayed_Effects_and_Immunity">(2.2) Delayed Effects and Immunity</h3>

    <p>For the purpose of determining whether or not a card is immune to a delayed effect, the delayed effect is
        considered to be an effect of the card and card type that created it.</p>

    <p class="mplain"><b>Related:</b> <a href="{{ path('cards_zoom', { card_code: "01044" }) }}" target="_blank">Tears of Lys</a>,
        <a href="{{ path('cards_zoom', { card_code: "02059" }) }}" target="_blank">Tourney for the King</a>.</p>

    <h3 id="Referential_Targets">(2.3) Referential Targets</h3>

    <p>Some abilities require the choice of a target that is not directly affected by the ability—the target is instead
        chosen as a reference point while resolving the ability. When choosing referential targets, a player is not
        bound by the rule that a target is ineligible if the resolution of the effect would not affect the chosen
        target.</p>

    <p><em>For example: <a href="{{ path('cards_zoom', { card_code: "01026" }) }}" target="_blank">Wildfire Assault</a> (Core, 26)
            allows each player to choose up to 3 characters he or she controls. The effect then resolves on the
            characters not chosen. The targets chosen by this ability are "referential targets," and a player is not
            bound by the rule that the chosen targets are affected by Wildfire Assault's effect, as this would be
            impossible: the chosen targets for this ability are never affected by its effect.</em></p>

    <h3 id="Card_Abilities_and_Out_of_Play_Areas">(2.4) Card Abilities & Out-of-Play Areas</h3>

    <p>Some card abilities attempt to interact with a card while it is in a specific out-of-play area. Such an aspect of
        a card ability cannot interact with a card that is not in that specific out-of-play area. Note that some
        abilities implicitly refer to the out-of-play area with which they can interact. For instance, a reaction that
        interacts with a character after it's killed implicitly interacts with that character while it is in the dead
        pile, and a reaction that interacts with a card after it's discarded implicitly interacts with that card while
        it is in the discard pile.</p>

    <p><em>For example: <a href="{{ path('cards_zoom', { card_code: "04057" }) }}" target="_blank">Hot Pie</a> (Westeros, 57) is
            discarded from a player's deck. An opponent plays <a href="{{ path('cards_zoom', { card_code: "07023" }) }}"
                                                                 target="_blank">Now My Watch Begins</a> (Watchers on
            the Wall, 23) to put Hot Pie into play. Although the reaction window to Hot Pie being discarded is still
            open, <a href="{{ path('cards_zoom', { card_code: "02053" }) }}" target="_blank">Crone of Vaes Dothrak</a>'s (Westeros, 53)
            reaction can no longer be used on Hot Pie, as he is no longer in the discard pile.</em></p>

    <h3 id="References_to_Specific_Positions_in_Game_Areas">(2.5) References to Specific Positions in Game Areas</h3>

    <p>An ability that refers to a card in a specific position within a game area (such as a player's "revealed plot
        card" or the "top card of a player's deck") refers to any card that occupies that position while the ability is
        active, not just the card that occupies that position at the time the ability initiates. For instance, if a
        lasting effect raises the claim value on a player's revealed plot card by 1 until the end of the phase, and that
        player subsequently reveals a new plot card during the phase, that lasting effect will remain active on the new
        plot card.</p>

    <h3 id="Timing_of_Terminal_Condition_Effects">(2.6) Timing of Terminal Condition Effects</h3>

    <p>Some abilities create a delayed effect that will attempt to drive a character from play whenever a certain
        condition is met. The most common of these is the "terminal burn" effect, which kills a character if its STR is
        0. Such an effect resolves automatically and immediately after the condition occurs, before any reactions to
        that moment may be used. If a character with a terminal burn effect applied has its STR reduced to 0, the
        following timing sequence is observed:</p>

    <ol>

        <li>The STR-reduction effect becomes imminent.</li>
        <li>Interrupts to the STR-reduction effect may be used.</li>
        <li>The STR-reduction effect resolves, reducing the character's STR to 0.</li>
        <li>The "terminal burn" kill effect becomes imminent.</li>
        <li>Interrupts to the kill effect may be used.</li>
        <li>The kill effect resolves.</li>
        <li>Reactions to the kill effect, or to the character's STR being reduced, may be used.</li>

    </ol>

    <p>Note that at any point after Step 3, the character's STR is 0.</p>

    <h3 id="The_Word_You">(2.7) The Word "You"</h3>

    <p>If a card ability uses the word "you" or "your," that pronoun generally refers to the controller of the card.</p>

    <p>Some cards have abilities that may be triggered by a player other than the card's controller. In the text of such
        abilities, the word "you" or "your" refers to the player who is triggering the ability.</p>

    <h3 id="Spending_Gold">(2.8) Spending Gold</h3>

    <p>If a card ability allows a player to "spend" gold as if it were in his or her gold pool, that gold may be used
        any time that player could voluntarily pay or move gold from his or her gold pool. This includes paying costs of
        cards or abilities, giving gold to an opponent, and moving gold using the bestow keyword.</p>

    <p class="mplain"><b>Related:</b>
        <a href="{{ path('cards_zoom', { card_code: "08019" }) }}" target="_blank">The Iron Bank</a>,
        <a href="{{ path('cards_zoom', { card_code: "08070" }) }}" target="_blank">Sweet Cersei</a></p>

    <h3 id="The_Word_All">(2.9) The Word "All"</h3>

    <p>If an effect causes a card to lose "all" of a given attribute (such as keywords, traits, or faction
        affiliations), that card loses each instance of each of those attributes. For instance, if an effect causes a
        character to "lose all <i>Traits</i>," that character will have no traits (even if another effect would cause it
        to have multiple instances of a given trait).</p>

    <p><em>For example: A <a href="{{ path('cards_zoom', { card_code: "02057" }) }}" target="_blank">Hedge Knight</a> (Westeros, 57) has
            the <a href="{{ path('cards_zoom', { card_code: "02058" }) }}" target="_blank">Knighted</a> (Westeros, 58) attachment. If <a
                    href="{{ path('cards_zoom', { card_code: "08082" }) }}" target="_blank">I Am No One</a> (Flight of Crows, 82) is
            played on the Hedge Knight, it will no longer have the <i>Knight</i> trait.</em></p>

    <h2 id="Dynamic_Situations">3. Dynamic Situations</h2>

    <h3 id="Saving_from_a_Terminal_Condition">(3.1) Saving from a Terminal Condition</h3>

    <p>When determining if a save effect has the potential to remedy an ongoing terminal condition, anticipate only the
        application of all aspects of the effect that is producing the save as well as all lasting effects and constant
        abilities that would be affecting the card upon application of the effect.</p>

    <p>If multiple effects would simultaneously attempt to drive a character out of play due to a terminal condition,
        the first player chooses the order in which those effects resolve. If a save used on the first removal effect
        also remedies the ongoing terminal condition, the subsequent removal effect(s) tied to that terminal condition
        will not resolve.</p>

    <p><em>For example: <a href="{{ path('cards_zoom', { card_code: "01176" }) }}" target="_blank">Dracarys!</a> (Core, 176) is played
            on <a href="{{ path('cards_zoom', { card_code: "02111" }) }}" target="_blank">Dagmer Cleftjaw</a> (Westeros, 111) while the
            plot <a href="{{ path('cards_zoom', { card_code: "02075" }) }}" target="_blank">Blood of the Dragon</a> (Westeros, 75) is
            revealed. Dagmer's STR is reduced to 0, and he is subject to the "killed if its STR is 0" effects of both
            cards. The first player decides to have Blood of the Dragon's kill effect resolve first. Dagmer's controller
            interrupts that effect with <a href="{{ path('cards_zoom', { card_code: "01081" }) }}" target="_blank">Risen from the
                Sea</a> (Core, 81), saving Dagmer and giving him +1 STR. Because Dagmer's STR is now 1, the kill effect
            from Dracarys! does not resolve, and Dagmer remains in play.</em></p>

    <p class="mplain"><b>Related:</b> <a href="{{ path('cards_zoom', { card_code: "03002" }) }}" target="_blank">Catelyn Stark</a>
        (WotN) +
        <a href="{{ path('cards_zoom', { card_code: "03008" }) }}" target="_blank">Jory Cassel</a>,
        <a href="{{ path('cards_zoom', { card_code: "03013" }) }}" target="_blank">Sansa Stark</a> (WotN) +
        <a href="{{ path('cards_zoom', { card_code: "02094" }) }}" target="_blank">Blood Magic Ritual</a>.</p>

    <h3 id="Saving_from_a_Cost">(3.2) Saving from a Cost</h3>

    <p>If a card would leave play as part of the cost of initiating an ability, that card cannot be saved.</p>

    <h3 id="Player_Choices_While_Initiating_Abilities">(3.3) Player Choices While Initiating Abilities</h3>

    <p>Player choices made as part of the initiating an ability/marshaling a card process (<a
                href="{{ path('rulesreference', { _fragment:'Initiating_Abilities_Marshaling_Cards' }) }}" target="_blank">Rules
            Reference</a>, page 10), including the choosing of targets, are constrained to those that were established
        as legal options in Step 1 of that process, where the legality of initiating the ability was checked.</p>

    <p>If a change in the game state between Step 1 and Step 7 creates a situation in which there are no legal targets
        at the time targets are chosen, or a situation in which a choice must be made but there are no valid options for
        that choice, the ability is considered to resolve unsuccessfully. An event that resolves unsuccessfully is
        placed in its owner's discard pile.</p>

    <h3 id="Challenge_Icons">(3.4) Challenge Icons</h3>

    <p>A character is considered to have a challenge icon or to not have that icon. A single character that has and/or
        is gaining the same challenge icon from multiple sources functions as if it has one instance of that icon.</p>

    <h3 id="Multiple_Copies_of_the_Same_Agenda">(3.5) Multiple Copies of the Same Agenda</h3>

    <p>A player cannot run more than 1 copy of each different agenda (by title), even in situations where they are allowed to run multiple agendas.</p>

    <h1 id="Card_Legality">Card Legality</h1>

    <p>For most Relaxed and Formal tier events, a product is legal from the time of its release until the time of its
        rotation (if applicable). For Premier tier events (such as the North American and World Championships), product
        becomes legal 11 days after its official release to ensure that all competitors have sufficient opportunity to
        obtain and familiarize themselves with all products in the defined pool. For a current list of legal product,
        see the FFG website, here: <a href="https://www.fantasyflightgames.com/en/op/legality/" target="_blank">https://www.fantasyflightgames.com/en/op/legality/</a>
    </p>

    <h2 id="Joust_Restricted_List">Joust Restricted List</h2>

    <p>A player may select one card from the restricted list for any given deck, and cannot then include any other
        restricted cards in the same deck. A player may run as many copies of his or her chosen restricted card in a
        deck as the regular game rules (or card text) allow.</p>

    <p class="new">Some restricted cards are so powerful, their inclusion in a deck comes with additional deck building restrictions
        for other cards.<br>
        If applicable, these additional restrictions are listed below the restricted card (indicated with an <span class="fas fa-long-arrow-alt-right"></span>
        icon).</p>
    <p class="new">
        <em>For example:</em><br>
        <strong><a href="{{ path('cards_zoom', { card_code: "01119" }) }}" target="_blank" class="new">Doran's Game</a>
        <em>(Core, 119)</em></strong> is not restricted normally, but if
        <strong><a href="{{ path('cards_zoom', { card_code: "10045" }) }}" target="_blank" class="new">The Wars To Come</a>
        <em>(Sand of Dorne, 45)</em></strong> is your chosen restricted card, you cannot include
        <strong><a href="{{ path('cards_zoom', { card_code: "01119" }) }}" target="_blank" class="new">Doran's Game</a>
        <em>(Core, 119)</em></strong> in your deck.</p>
    <p class="new">This restriction would be displayed as following:</p>
    <div class="example new">
        <a href="{{ path('cards_zoom', { card_code: "10045" }) }}" target="_blank" class="new">The Wars To Come</a>
        <em>(Sand of Dorne, 45)</em>
        <ul class="fa-ul">
            <li class="new">
                <span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>
                <a href="{{ path('cards_zoom', { card_code: "01119" }) }}" target="_blank" class="new">Doran's Game</a>
                <em>(Core, 119)</em></li>
        </ul>
    </div>
    <div><b><u>Neutral</u>:</b><br>
        <a href="{{ path('cards_zoom', { card_code: "06040" }) }}" target="_blank">The Annals of Castle Black</a> <em>(Guarding the
            Realm, 40)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "06100" }) }}" target="_blank">Wheels Within Wheels</a> <em>(Oberyn's Revenge,
            100)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "06039" }) }}" target="_blank">"The Dornishman's Wife"</a> <em>(Guarding the Realm,
            39)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "05049" }) }}" target="_blank">Littlefinger's Meddling</a> <em>(Lions of Casterly
            Rock, 49)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "04001" }) }}" target="_blank">The Dragon's Tail</a> <em>(Across the Seven Kingdoms,
            1)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "06098" }) }}" target="_blank">Flea Bottom</a> <em>(Oberyn's Revenge, 98)</em><br>
        <ul class="fa-ul rl-pod-list">
            <li class="new">
                <span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>
                <a href="{{ path('cards_zoom', { card_code: "01111" }) }}" target="_blank" class="new">Dornish Paramour</a>
                <em>(Core, 111)</em>
            </li>
            <li class="new">
                <span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>
                <a href="{{ path('cards_zoom', { card_code: "10016" }) }}" target="_blank" class="new">Shadow City Bastard </a>
                <em>(Sands of Dorne, 16)</em>
            </li>
        </ul>
        <a href="{{ path('cards_zoom', { card_code: "10045" }) }}" target="_blank">The Wars To Come</a>
        <em>(Sand of Dorne, 45)</em>
        <ul class="fa-ul rl-pod-list">
            <li class="new">
                <span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>
                <a href="{{ path('cards_zoom', { card_code: "01119" }) }}" target="_blank" class="new">Doran's Game</a>
                <em>(Core, 119)</em></lii>
        </ul>
        <a href="{{ path('cards_zoom', { card_code: "10050" }) }}" target="_blank">Breaking Ties</a> <em>(Sands of Dorne, 50)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "09051" }) }}" target="_blank">Trade Routes</a> <em>(House of Thorns, 51)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "12045" }) }}" target="_blank">Sea of Blood</a> <em>(Kings of the Isles, 45)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "06038" }) }}" target="_blank">Great Hall</a> <em>(Guarding the Realm, 38)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "10048" }) }}" target="_blank">Forced March</a> <em>(Sands of Dorne, 48)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "08080" }) }}" target="_blank">The King in the North</a> <em>(Favor of the Old Gods, 80)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "12047" }) }}" target="_blank"> Return to the Fields</a> <em>(Kings of the Isles, 47)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "13079" }) }}" target="_blank">Kingdom of Shadows</a> <em>(Beneath the Red Keep, 79)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "15045" }) }}" target="_blank">Bribery</a> <em>(Dragons of the East, 45)</em><br>
    </div>
    <br>
    <div>
        <b><u>Baratheon</u>:</b><br>
        <a href="{{ path('cards_zoom', { card_code: "14008" }) }}" target="_blank">Selyse Baratheon</a> <em>(Fury of the Storm, 8)</em>
    </div>
    <br>
    <div>
        <b><u>Greyjoy</u>:</b><br>
        <a href="{{ path('cards_zoom', { card_code: "02091" }) }}" target="_blank">Raider from Pyke</a> <em>(Calm Over Westeros, 91)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "02092" }) }}" target="_blank">Iron Mines</a> <em>(Calm Over Westeros, 92)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "11051" }) }}" target="_blank">Drowned God Fanatic</a> <em>(Streets of King's Landing, 51)</em><br>
        <ul class="fa-ul rl-pod-list">
            <li class="new">
                <span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>
                <a href="{{ path('cards_zoom', { card_code: "01111" }) }}" target="_blank" class="new">Dornish Paramour</a>
                <em>(Core, 111)</em>
            </li>
            <li class="new">
                <span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>
                <a href="{{ path('cards_zoom', { card_code: "08091" }) }}" target="_blank" class="new">Tarle The Thrice-Drowned </a>
                <em>(The Faith Militant, 91)</em>
            </li>
        </ul>
        <a href="{{ path('cards_zoom', { card_code: "06011" }) }}" target="_blank">Drowned Disciple</a> <em>(All Men Are Fools, 11)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "12002" }) }}" target="_blank">Euron Crow’s Eye</a> <em>(Kings of the Isles, 2)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "12046" }) }}" target="_blank">We Take Westeros!</a> <em>(Kings of the Isles, 46)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "11012" }) }}" target="_blank">Nighttime Marauders</a> <em>(The Shadow City, 12)</em><br>
    </div>
    <br>
    <div>
        <b><u>Lannister</u>:</b><br>
        <a href="{{ path('cards_zoom', { card_code: "05010" }) }}" target="_blank">Taena Merryweather</a> <em>(Lions of Casterly Rock, 10)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "15030" }) }}" target="_blank">The Red Keep</a> <em>(Dragons of the East, 30)</em><br>
    </div>
    <br>
    <div>
        <b><u>Martell</u>:</b><br>
        <a href="{{ path('cards_zoom', { card_code: "01109" }) }}" target="_blank">The Red Viper</a> <em>(Core, 109)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "04017" }) }}" target="_blank">Tower of the Sun</a> <em>(Across the Seven Kingdoms, 17)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "11076" }) }}" target="_blank">A Mission in Essos</a> <em>(Music of Dragons, 76)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "12029" }) }}" target="_blank">Desert Raider</a> <em>(Kings of the Isles, 29)</em>
    </div>
    <br>
    <div>
        <b><u>Night's Watch</u></b><br>
        <a href="{{ path('cards_zoom', { card_code: "13085" }) }}" target="_blank">Yoren</a> <em>(The Blackwater, 85)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "13086" }) }}" target="_blank">Bound for the Wall</a> <em>(The Blackwater, 86)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "11085" }) }}" target="_blank">Three-Finger Hobb</a> <em>(In Daznak's Pit, 85)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "15033" }) }}" target="_blank">Clydas</a> <em>(Dragons of the East, 33)</em>
    </div>
    <br>
    <div>
        <b><u>Stark</u>:</b><br>
        <a href="{{ path('cards_zoom', { card_code: "11021" }) }}" target="_blank">Wyman Manderly</a> <em>(The March on Winterfell, 21)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "02102" }) }}" target="_blank">Ward</a> <em>(True Steel, 102)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "11082" }) }}" target="_blank">Skagos</a> <em>(In Daznak’s Pit, 82)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "11061" }) }}" target="_blank">Meera Reed</a> <em>(Music of Dragons, 61)</em>
    </div>
    <br>
    <div>
        <b><u>Tyrell</u>:</b><br>
        <a href="{{ path('cards_zoom', { card_code: "06103" }) }}" target="_blank">Highgarden Minstrel</a> <em>(The Brotherhood Without
            Banners, 103)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "06004" }) }}" target="_blank">All Men Are Fools</a> <em>(All Men Are Fools, 4)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "09023" }) }}" target="_blank">"Six Maids in a Pool"</a> <em>(House of Thorns,
            23)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "03038" }) }}" target="_blank">To the Rose Banner!</a> <em>(Wolves of the North,
            38)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "09001" }) }}" target="_blank">Mace Tyrell</a> <em>(House of Thorns, 1)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "09017" }) }}" target="_blank">The Hightower</a> <em>(House of Thorns, 17)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "11044" }) }}" target="_blank">Growing Ambition</a> <em>(Streets of King’s Landing, 44)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "13103" }) }}" target="_blank">The Queen's Retinue</a> <em>(Long May He Reign, 103)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "13044" }) }}" target="_blank">Unexpected Guile</a> <em>(Pit of Snakes, 44)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "06063" }) }}" target="_blank">Oldtown Informer</a> <em>(The Red Wedding, 63)</em>
    </div>
    <br>
    <div>
        <b><u>Targaryen</u>:</b><br>
        <a href="{{ path('cards_zoom', { card_code: "11033" }) }}" target="_blank">Hizdahr zo Loraq</a> <em>(The March on Winterfell, 33)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "11034" }) }}" target="_blank">Meereen</a> <em>(The March on Winterfell, 34)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "09037" }) }}" target="_blank">Qotho</a> <em>(House of Thorns, 37)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "11114" }) }}" target="_blank">Gifts for the Widow</a> <em>(Dragons of the East, 14)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "15022" }) }}" target="_blank">Overwhelming Numbers</a> <em>(Dragons of the East, 22)</em>
    </div>

    <h2 id="Melee_Restricted_List">Melee Restricted List</h2>

    <p>A player may select one card from the restricted list for any given deck, and cannot then include any other
        restricted cards in the same deck. A player may run as many copies of his or her chosen restricted card in a
        deck as the regular game rules (or card text) allow.</p>

    <div><b><u>Neutral</u>:</b><br>
        <a href="{{ path('cards_zoom', { card_code: "01001" }) }}" target="_blank">A Clash of Kings</a> <em>(Core, 1)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "01013" }) }}" target="_blank">Heads on Spikes</a> <em>(Core, 13)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "01043" }) }}" target="_blank">Superior Claim</a> <em>(Core, 43)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "02060" }) }}" target="_blank">The Lord of the Crossing</a> <em>(The King's Peace,
            60)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "04118" }) }}" target="_blank">Relentless Assault</a> <em>(Tyrion's Chain, 118)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "06039" }) }}" target="_blank">"The Dornishman's Wife"</a> <em>(Guarding the Realm,
            39)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "06098" }) }}" target="_blank">Flea Bottom</a> <em>(Oberyn's Revenge, 98)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "08098" }) }}" target="_blank">"The Song of the Seven"</a> <em>(The Faith Militant,
            98)</em>
        <br>
        <a href="{{ path('cards_zoom', { card_code: "05049" }) }}" target="_blank">Littlefinger’s Meddling</a> <em>(Lions of Casterly Rock, 49)</em>
        <br>
        <a href="{{ path('cards_zoom', { card_code: "06040" }) }}" target="_blank">The Annals of Castle Black</a> <em>(Guarding the Realm, 40)</em>
        <br>
        <a href="{{ path('cards_zoom', { card_code: "08120" }) }}" target="_blank">You Win or You Die</a> <em>(Someone Always Tells, 120)</em>
    </div>
    <br>
    <div><b><u>Baratheon</u>:</b><br>
        <a href="{{ path('cards_zoom', { card_code: "13107" }) }}" target="_blank">Robert Baratheon</a> <em>(Long May He Reign, 107)</em>
    </div>
    <br>
    <div><b><u>Greyjoy</u>:</b><br>
        <a href="{{ path('cards_zoom', { card_code: "01078" }) }}" target="_blank">Great Kraken</a> <em>(Core, 78)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "02012" }) }}" target="_blank">Rise of the Kraken</a> <em>(Taking the Black,
            12)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "09028" }) }}" target="_blank">Corpse Lake</a> <em>(House of Thorns, 28)</em>
        <br>
        <a href="{{ path('cards_zoom', { card_code: "06011" }) }}" target="_blank">Drowned Disciple</a> <em>(All Men Are Fools, 11)</em>
    </div>
    <br>
    <div><b><u>Lannister</u>:</b><br>
        <a href="{{ path('cards_zoom', { card_code: "05001" }) }}" target="_blank">Cersei Lannister</a> <em>(Lions of Casterly Rock,
            1)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "05010" }) }}" target="_blank">Taena Merryweather</a> <em>(Lions of Casterly Rock,
            10)</em>
    </div>
    <br>
    <div><b><u>Martell</u>:</b><br>
        <a href="{{ path('cards_zoom', { card_code: "01119" }) }}" target="_blank">Doran's Game</a> <em>(Core, 119)</em>
        <br>
        <a href="{{ path('cards_zoom', { card_code: "11076" }) }}" target="_blank">A Mission in Essos</a> <em>(Music of Dragons, 76)</em>
    </div>
    <br>
    <div><b><u>Stark</u>:</b><br>
        <a href="{{ path('cards_zoom', { card_code: "03003" }) }}" target="_blank">Eddard Stark</a> <em>(Wolves of the North,
            3)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "04003" }) }}" target="_blank">Riverrun</a> <em>(Across the Seven Kingdoms, 3)</em>
    </div>
    <br>
    <div><b><u>Targaryen</u>:</b><br>
        <a href="{{ path('cards_zoom', { card_code: "07036" }) }}" target="_blank">Plaza of Pride</a> <em>(Watchers on the Wall,
            36)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "01162" }) }}" target="_blank">Khal Drogo</a> <em>(Core, 162)</em>
        <br>
        <a href="{{ path('cards_zoom', { card_code: "11054" }) }}" target="_blank">Queensguard</a> <em>(Streets of King’s Landing, 54)</em>
    </div>
    <br>
    <div><b><u>Tyrell</u>:</b><br>
        <a href="{{ path('cards_zoom', { card_code: "02024" }) }}" target="_blank">Lady Sansa's Rose</a> <em>(The Road to Winterfell,
            24)</em><br>
        <a href="{{ path('cards_zoom', { card_code: "06004" }) }}" target="_blank">All Men Are Fools</a> <em>(All Men Are Fools, 4)</em>
        <br>
        <a href="{{ path('cards_zoom', { card_code: "03038" }) }}" target="_blank">To the Rose Banner!</a> <em>(Wolves of the North, 38)</em>
    </div>

    <h1 id="Banned_List">Banned Cards</h1>
    <p>The complete set of <a href="{{ path('cards_list', { pack_code: "TTWDFL" }) }}" target="_blank">The Things We Do For Love</a> is not legal for competitive play.</p>

    <h1 id="Frequently_Asked_Questions">Frequently Asked Questions</h1>

    <p>This section provides answers to a number of common questions that are asked about the game. The entries are
        presented in a "question and answer" format, with the newest questions at the end of the list.</p>

    <h3 id="FAQ_1">Catelyn Stark</h3>

    <p><i>Which abilities does <a href="{{ path('cards_zoom', { card_code: "01143" }) }}" target="_blank">Catelyn Stark</a> (Core, 143)
            prevent an opponent from using?</i></p>

    <p>Catelyn prevents an opponent from using <b>triggered card abilities that he or she would initiate.</b> A
        triggered ability is indicated by a bold timing trigger, such as <b>Action, Interrupt, Reaction, Dominance
            Action,</b> and so forth. Catelyn prevents an opponent from initiating such bold-faced abilities. However,
        <b>Forced</b> abilities and <b>When Revealed</b> abilities are initiated automatically by the game (as opposed
        to being initiated by the player who controls the card), so Catelyn does not prevent these two classes of
        triggered abilities. Additionally, using a duplicate is defined as a triggered <em>game</em> ability (as opposed
        to a triggered <em>card</em> ability), and therefore Catelyn does not prevent the use of duplicates. Finally,
        any ability that is not prefaced with a bold timing trigger (such as a keyword, like ambush) is not considered a
        <em>triggered</em> ability, and is not prevented by Catelyn's text.</p>

    <h3 id="FAQ_2">Melisandre + Seen in Flames</h3>

    <p><i>When can I trigger <a href="{{ path('cards_zoom', { card_code: "01047" }) }}" target="_blank">Melisandre</a>'s (Core, 47)
            reaction to "playing" a R'hllor event such as <a href="{{ path('cards_zoom', { card_code: "01064" }) }}" target="_blank">Seen
                in Flames</a> (Core, 64) — before or after the effect of Seen in Flames occurs?</i></p>

    <p>The act of playing an event entails paying its costs, resolving its effects (or having those effects canceled),
        and placing the event in its owner's discard pile. Reactions to playing an event may only be triggered after
        this process is complete. Therefore, the effect of Seen in Flames is resolved before Melisandre's reaction to
        playing the event may be triggered.</p>

    <h3 id="FAQ_3">The Hand's Judgment</h3>

    <p><i>While I am in the process of playing a <a href="{{ path('cards_zoom', { card_code: "01045" }) }}" target="_blank">Hand's
                Judgment</a> (Core, 45) from my hand, and my opponent uses another event card to attempt to cancel my
            Hand's Judgment, can I attempt to play that same copy of my Hand's Judgement a second time to cancel my
            opponent's event?</i></p>

    <p>No. At the time the opponent's cancel would initiate, Hand's Judgment is in the process of being played and is no
        longer in your hand. Therefore, you are unable to play that copy of Hand's Judgment. (You could, however, play
        another copy of the card.)</p>

    <h3 id="FAQ_4">Nymeria Sand</h3>

    <p><i>Can <a href="{{ path('cards_zoom', { card_code: "02035" }) }}" target="_blank">Nymeria Sand</a> (Westeros, 35) be used to
            cause a character to lose a challenge icon it does not currently possess, so that each of my Sand Snake
            characters can gain that icon?</i></p>

    <p>Yes. There are no targeting restrictions on Nymeria Sand's ability beyond "choose an opponent's character," so
        any opponent's character is an eligible choice. If you choose an icon type that the chosen character does not
        possess, a lasting effect causing that character to lose one instance of that icon is still applied to that
        character for the duration of the effect. (This means that the character would now have to gain an additional
        instance of the icon type to function as if it had the icon.) Finally, the subsequent gaining of that icon type
        by each of your <i>Sand Snake</i> characters is not dependent upon the opponent's character losing a functional
        version of the icon.
    <p>

    <p class="mplain"><b>Note:</b> Also applies to keywords.<br>
        <b>Related:</b> <a href="{{ path('cards_zoom', { card_code: "02076" }) }}" target="_blank">Maester of Starfall</a>.</p>

    <h3 id="FAQ_5">Attachments in Setup</h3>

    <p><i>If I place an attachment in setup that would have a legal target among the other cards I have placed, can I,
            after revealing setup cards, decide to attach it to a legal target in an opponent's setup?</i></p>

    <p>No. Setup cards may only be attached to revealed cards you control.</p>

    <h3 id="FAQ_6">Attachments in Setup #2</h3>

    <p><i>When I am attaching my cards during setup, do I attach them all at once or one at a time?</i></p>

    <p>All of a player's attachments are attached simultaneously during setup. While placing cards for setup, you cannot
        use one attachment to create a condition in which another attachment is legally attached. In other words, you
        cannot setup the <a href="{{ path('cards_zoom', { card_code: "02058" }) }}" target="_blank">Knighted</a> (<i>Westeros, 58</i>)
        attachment on a non-<i>Knight</i> character so that you can also setup the <a
                href="{{ path('cards_zoom', { card_code: "02044" }) }}" target="_blank">Mare in Heat</a> (<i>Westeros, 44</i>)
        attachment on the same character.</p>

    <p>If upon completion of attaching cards during setup one attachment has created a game state in which another
        attachment is <em>illegally</em> attached, immediately discard the illegal attachment.</p>

    <h3 id="FAQ_7">Attacking Alone</h3>

    <p><i>If I win a challenge in which I control two attacking <i>Knight</i> characters and one of them is targeted by
            <a href="{{ path('cards_zoom', { card_code: "01116" }) }}" target="_blank">Ghaston Grey</a> (Core, 116), returning it to my
            hand and leaving me with one attacking <i>Knight</i> character, may I subsequently play <a
                    href="{{ path('cards_zoom', { card_code: "02024" }) }}" target="_blank">Lady Sansa's Rose</a> (Westeros, 24) by
            virtue of that single <i>Knight</i> who is now attacking alone?</i></p>

    <p>Yes, you may. Lady Sansa's Rose reads "...in which you control a <i>Knight</i> character that is attacking
        alone," and the check on "is attacking alone" is made at the time the event would be played.
    <p>

    <h3 id="FAQ_8">Limited Cards in Setup</h3>

    <p><i>If I play a limited card as a duplicate, does it count as my limited card for the round?</i></p>

    <p>Yes. The limited keyword is checked during step 1 of the timing sequence detailed on
        <a href="{{ path('rulesreference', { _fragment: 'Initiating_Abilities_Marshaling_Cards' }) }}" target="_blank">
        page 10 of the RR</a>, which asks the question: "can the card be marshaled or played, or the ability initiated
        at this time?" In order to play a duplicate, a player must make several verifications during this step: that the
        card is unique, that he or she owns and controls a copy of that card in play, that there is no copy of that card
        in his or her dead pile. If the card to be played as a duplicate is limited, the player must also verify that he
        or she has not yet marshaled or played a limited card this round. If the player has not yet marshaled or played
        a limited card this round, and proceeds to marshal the card, the card does count count as the player's limited
        card for the round.</p>

    <p class="mplain"><b>Related:</b> <a href="{{ path('cards_zoom', { card_code: "02064" }) }}" target="_blank">The Arbor</a>,
        <a href="{{ path('cards_zoom', { card_code: "05017" }) }}" target="_blank">Golden Tooth</a>.</p>


    <h3 id="FAQ_21">Limited Card as Duplicate</h3>
    <p>
        <i>If I play a limited card as a duplicate, does it count as my limited card for the round?</i>
    </p>
    <p>
        No. When you marshal a card as a duplicate, it is not considered to have any of its printed keywords,
        including the limited keyword.
    </p>

    <h3 id="FAQ_9">Wolves of the North</h3>

    <p><i>I am declaring two copies of the card <a href="{{ path('cards_zoom', { card_code: "03006" }) }}" target="_blank">Wolves of the
                North</a> (Wolves of the North, 6) as attackers. Can each copy choose the same target for stealth when I
            declare stealth targets?</i></p>

    <p>The timing of declaring stealth targets is considered to be simultaneous with the declaration of the challenge,
        opponent, and attackers. Each stealth target, however, is declared independently, and each Wolves of the North
        may select the same target for its stealth ability.</p>

    <h3 id="FAQ_10">Master of Whispers + Trial by Combat</h3>

    <p><i>How does the <a href="{{ path('cards_zoom', { card_code: "01206" }) }}" target="_blank">Master of Whispers</a> (Core, 206)
            title ability work with claim replacement or adjustment effects such as <a
                    href="{{ path('cards_zoom', { card_code: "02090" }) }}" target="_blank">Trial by Combat</a> (Westeros, 90), <a
                    href="{{ path('cards_zoom', { card_code: "02096" }) }}" target="_blank">Vengeance for Elia</a> (Westeros, 96), and
            <a href="{{ path('cards_zoom', { card_code: "02093" }) }}" target="_blank">Mirri Maz Duur</a> (Westeros, 93)?</i></p>

    <p>The Master of Whispers ability is not itself a claim replacement ability, and therefore functions alongside claim
        replacement effects as much as it is able, based on the language of the particular effect in question.</p>

    <p>For Trial by Combat, each opponent you choose will suffer the military claim.</p>

    <p>For Vengeance for Elia, the player who lost the challenge (if The Masters of Whispers player decides the loser of
        the challenge will be resolving claim) can cause a different opponent to suffer that claim for him or her, and
        the attacker may also still resolve the claim against some or all of the other opponents as well. Note that if a
        player who is already responsible for satisfying claim (due to Master of Whispers) is chosen as the target of
        Vengeance for Elia, that player still only applies the claim result once, and this satisfies both
        obligations.</p>

    <p>For Mirri Maz Duur, her ability requires that you choose one character controlled by the losing opponent, and
        kills that character. As only one character is chosen to be killed by this ability, the resolution of Mirri's
        claim against other opponents does nothing, and there is no interaction between these two cards.</p>

    <h3 id="FAQ_11">Dragon Sight</h3>

    <p><i>If I play <a href="{{ path('cards_zoom', { card_code: "03036" }) }}" target="_blank">Dragon Sight</a> (Wolves of the North,
            36) in the challenge action window before declaring defenders, will any defenders that are subsequently
            declared be affected by the Dragon Sight effect?</i></p>

    <p>No. If an ability creates a lasting effect on a set of cards, it only affects the cards that are eligible at the
        time the event card is played.</p>

    <p>Conversely, if a character that had been participating in a challenge and affected by Dragon Sight is somehow
        removed from the challenge, the lasting effect remains in effect on that character until the end of the
        challenge, regardless of its status as participating or not.</p>

    <p class="mplain"><b>Note:</b> Also applies to character abilities.<br>
        <b>Related:</b> <a href="{{ path('cards_zoom', { card_code: "02035" }) }}" target="_blank">Nymeria Sand</a> +
        <a href="{{ path('cards_zoom', { card_code: "04016" }) }}" target="_blank">Harmen Uller</a>.</p>

    <h3 id="FAQ_12">Multiple "Take Control" Effects</h3>

    <p><i>How do multiple "take control" effects work? For instance, if one opponent gains control of my character with
            <a href="{{ path('cards_zoom', { card_code: "01139" }) }}" target="_blank">Take the Black</a> (Core, 139), and then another
            opponent takes control of that same character with <a href="{{ path('cards_zoom', { card_code: "02102" }) }}"
                                                                  target="_blank">Ward</a> (Westeros, 102), what happens
            to the character if Ward is discarded?</i></p>

    <p>Upon the expiration or cessation of a control change effect, control of the card reverts back to the player with
        the nextmost recent take control effect that would affect on the card. (If no player possesses a control effect
        that would affect the card, control reverts back to the card's owner.) In this example, when the Ward card
        leaves play, control of the character reverts back to the player who had gained control of it with Take the
        Black.
    <p>


    <h3 id="FAQ_13">Resolving Keywords</h3>

    <p><i>If I win a challenge in which I control both <a href="{{ path('cards_zoom', { card_code: "02049" }) }}" target="_blank">Ser
                Gregor Clegane</a> (Westeros, 49) and <a href="{{ path('cards_zoom', { card_code: "01069" }) }}" target="_blank">Euron
                Crow's Eye</a> (Core, 69), which player chooses the order in which their pillage abilities resolve?</i>
    </p>

    <p>As the controller of the two characters, you choose the order in which their pillage abilities resolve. Although
        the first player determines the order in which keywords are processed, by type, the first player does not
        determine the order in which keywords resolve within each type. Because each instance of pillage is optional,
        the controller of the characters with pillage chooses in which order the pillage abilities resolve.</p>

    <h3 id="FAQ_14">Processing Keywords</h3>

    <p><i>What happens if a character gains a challenge resolution keyword while another challenge resolution keyword is
            being processed?</i></p>

    <p>Each keyword type can only be processed once during challenge resolution. If a character gains a keyword after
        that keyword has already been processed, that character's instance of the keyword will not resolve. However, if
        a character gains a keyword that has not yet been processed, or is currently being processed, that instance of
        the keyword will be able to resolve. Note that a keyword can only be processed if a relevant instance of that
        keyword is present in the challenge.</p>

    <p class="mplain"><b>Related:</b> <a href="{{ path('cards_zoom', { card_code: "05007" }) }}" target="_blank">Chella Daughter of
            Cheyk</a>.</p>

    <h3 id="FAQ_15">Varys's Riddle + Summer Harvest</h3>

    <p><i>If I reveal <a href="{{ path('cards_zoom', { card_code: "04020" }) }}" target="_blank">Varys's Riddle</a> (War of Five Kings,
            20) and my opponent reveals <a href="{{ path('cards_zoom', { card_code: "04039" }) }}" target="_blank">Summer Harvest</a>
            (War of Five Kings, 39), what will the base gold value on Summer Harvest be?</i></p>

    <p>Varys's Riddle allows you to initiate the ability on Summer Harvest as if you had just revealed it. This means
        that Summer Harvest's ability will trigger twice: one will be the "original" version triggered by your opponent,
        while the other will be a version "as if you had just revealed it," which changes who is an eligible target for
        "Choose an opponent." These abilities will each attempt to define the gold value on Summer Harvest: the
        "original" will look at the printed gold value on Varys's Riddle (which is 5) and define its base gold value as
        7, while the other will look at the printed gold value on Summer Harvest (which is X, treated as 0) and define
        its base gold value as 2. Because these two lasting effects cannot be applied simultaneously, the first player
        chooses the order in which to apply them, and the base gold value on Summer Harvest will either be 2 or 7 based
        on the first player's choice.</p>

    <h3 id="FAQ_16">At Prince Doran's Behest</h3>

    <p><i>If I use <a href="{{ path('cards_zoom', { card_code: "10046" }) }}" target="_blank">At Prince Doran's Behest</a> (Sands of
            Dorne, 46) to reveal another plot with a when revealed ability, and my opponent also has a plot with a when
            revealed ability waiting to initiate, which plot's ability initiates first?</i></p>

    <p>The first player chooses the order in which the remaining when revealed abilities initiate. The newly revealed
        plot does not have any special timing priority - it is simply treated as another plot card with a when revealed
        ability that needs to be initiated as part of step 1.3.III ("<a
                href="{{ path('rulesreference', { _fagment: '1.3_Reveal_plots' }) }}" target="_blank">Initiate When Revealed
            abilities</a>"). Note that initiative has already been compared in step I, so there will be no new
        initiative comparison when the new plot is revealed in step III (i.e. the first player will not change).</p>

    <h3 id="FAQ_17">Daenerys Targaryen (TFM)</h3>

    <p><i>What card effects are covered by the constant ability on <a href="{{ path('cards_zoom', { card_code: "08093" }) }}"
                                                                      target="_blank">Daenerys Targaryen</a> (Flight of
            Crows, 93)?</i></p>

    <p>Daenerys Targaryen's ability prevents her STR from being reduced by card effects. If a card effect applies a STR
        modifier that would reduce her STR, that modifier is ignored. This includes subtractive modifiers and halving
        modifiers, as well as any modifier that would "set" her STR to a value that is lower than her base STR.</p>

    <h3 id="FAQ_18">Tycho Nestoris</h3>

    <p><i>How does <a href="{{ path('cards_zoom', { card_code: "11037" }) }}" target="_blank">Tycho Nestoris</a> (Dance of Shadows, 37) work in situations where all of a player's opponents are elminated (for instance, due to running out of cards in their deck)? How does he work in tournament games that go to time?</i></p>

    <p>If a player controls Tycho Nestoris and his "You cannot win the game" ability is active, nothing within the game rules can cause that player to win the game. If all of that player's opponents are eliminated, the game ends with no winner. (In a tournament, this is recorded as a loss for each player.)</p>

    <p>If a tournament game goes to time with a player controlling Tycho at 15 or more power, that player's opponent receives a modified win, as that opponent is considered to be closer to their victory condition. If a tournament game goes to time with both players controlling Tycho, both players receive a loss.</p>

    <p>If a player controls Tycho at the end of a Melee game, the best placement that player can achieve is 2nd place. If a tournament Melee game goes to time and a player controlling Tycho has the highest power total, the player with the next-highest power total is the winner of the game.</p>

    <p>Tycho does not prevent a player from winning if that player's opponent concedes the game.</p>

    <h3 id="FAQ_19">The Hand's Judgment + shadow events</h3>

    <p><i>Can <a href="{{ path('cards_zoom', { card_code: "01045" }) }}" target="_blank">The Hand's Judgment</a> (Core, 45) be used to cancel an event with a "-" cost?</i></p>

    <p>Yes. The Hand's Judgment has a cost of X, where X is defined as the printed cost of the event being canceled. If The Hand's Judgment is used to cancel a "—" event, which has no printed cost, that X will be undefined. An undefined X value defaults to 0, therefore The Hand's Judgment can be played for 0 gold.</p>

    <h3 id="FAQ_20">Scouting Vessel</h3>

    <p>
        <i>How does <a href="{{ path('cards_zoom', { card_code: "12020" }) }}" target="_blank">Scouting Vessel</a>
            (Kings of the Isles, 20) interact with other reactions and interrupts to discarding a card using pillage,
            such as <a href="{{ path('cards_zoom', { card_code: "12003" }) }}" target="_blank">Asha Greyjoy</a> (Flight of Crows, 51)
            and <a href="{{ path('cards_zoom', { card_code: "05006" }) }}" target="_blank">Tywin Lannister</a>
            (Lions of Casterly Rock, 6)?
        </i>
    </p>
    <p>
        Scouting Vessel’s ability is a replacement effect that replaces "a card being discarded using pillage" with
        "3 cards being discarded using pillage." If Scouting Vessel is used on the card Asha Greyjoy discards using
        pillage, Asha is considered to have discarded 3 cards using pillage and her reaction can be triggered
        3 times.
    </p>
    <p>
        If Tywin Lannister’s ability is triggered on a card discarded using pillage, and then Scouting Vessel is
        triggered, Scouting Vessel’s ability will be the one that resolves because it is the most recently
        applied replacement effect. If Scouting Vessel’s ability is triggered first, Tywin Lannister’s ability
        cannot then be triggered, because the triggering condition of “exactly 1 card” being discarded from
        a player’s deck is no longer imminent.
    </p>

    <h3 id="FAQ_22">No Surprises</h3>
    <p>
        <i>
            My opponent plays <a href="{{ path('cards_zoom', { card_code: "13022" }) }}" target="_blank">No Surprises</a>
            (King’s Landing, 22), which states that I cannot “bring cards out of shadows.” Can I still use the ability
            on <a href="{{ path('cards_zoom', { card_code: "11115" }) }}" target="_blank">Starfall Spy</a> (Dance of Shadows, 115)
            to put a card directy into play from shadows?
        </i>
    </p>
    <p>
        No. Any effect that causes a card to come out of shadows is
        considered to be “bringing a card out of shadows,” including
        effects like Starfall Spy that put a card into play from shadows.
        Therefore, such effects are prevented by the effect of No Suprises.
    </p>

    <h3 id="FAQ_23">&quot;A Cask of Ale&quot;</h3>
    <p>
        <i>
            Can I use <a href="{{ path('cards_zoom', { card_code: "14023" }) }}" target="_blank">&quot;A Cask of Ale&quot;</a>
            (Fury of the Storm, 23) to move power to a plot card, a melee title, or an agenda?
        </i>
    </p>
    <p>
        &quot;A Cask of Ale&quot; can move power to a player’s revealed plot card
        or melee title, as each of those cards is considered to be in play
        under that player’s control. &quot;A Cask of Ale&quot; cannot move power
        to an agenda, as agendas are not in play.
    </p>

    <h3 id="FAQ_24">Baelor Blacktyde</h3>
    <p>
        <i>
            If my opponent has <a href="{{ path('cards_zoom', { card_code: "13011" }) }}" target="_blank">Baelor Blacktyde</a>
            (King’s Landing, 11) in play and I play
            <a href="{{ path('cards_zoom', { card_code: "09011" }) }}" target="_blank">Emissary of the Hightower</a>
            (House of Thorns, 11), choosing an event of which I have a single copy in my discard pile, will
            Baelor’s ability prevent me from playing that event?
        </i>
    </p>
    <p>
        No. Baelor Blacktyde’s ability will not prevent you from playing
        an event from your discard pile if there are no other copies of
        that event in your discard pile.
    </p>

    <h3 id="FAQ_25">Time of Plenty</h3>
    <p><i>Does the effect on <a href="{{ path('cards_zoom', { card_code: "05051" }) }}" target="_blank">
        Time of Plenty</a> (Lions of Casterly Rock, 51) increase the number of cards drawn by a card effect triggered
        during the draw phase?</i></p>
    <p>No. Card effects like Time of Plenty that modify the number of cards a player draws &quot;in the draw
        phase&quot; only modify the 2 cards drawn as part of framework event step 2.2, &quot;Draw.&quot;
        Card effects that occur during the draw phase are not modified.</p>

    <h3 id="FAQ_26">Dothraki Handmaiden</h3>
    <p><i>If I have a facedown card attached to
        <a href="{{ path('cards_zoom', { card_code: "15014" }) }}" target="_blank">Dothraki Handmaiden</a>
        (Dragons of the East, 14) and use the Handmaiden’s constant
        ability to marshal that card, is it considered to have entered play?</i></p>
    <p>No. The card is already in play as an attachment on Dothraki Handmaiden, so marshaling it will not
        cause it to &quot;enter play.&quot; You will not be able to trigger any effects that occur when a card
        &quot;enters play.&quot;</p>


    <h3 id="FAQ_27">The Iron Throne (LMHR)</h3>
    <p><i>Can I name a plot card with <a href="{{ path('cards_zoom', { card_code: "13117" }) }}" target="_blank">
        The Iron Throne</a> (Long May He Reign, 117) to prevent my opponent from revealing that plot during the plot
        phase?</i></p>
    <p>No. Plot cards are not marshaled, played, or put into play, so The Iron Throne does not prevent
        a player from revealing a plot card with the chosen name.</p>

    <h1 id="Quick_Reference">Quick Reference</h1>

    <p>This section provides standard play information in an abbreviated, quick-reference format that can be helpful in
        clarifying some common situations in the game.</p>

    <h2 id="DUCK"><i>Challenge Application Timing Sequence</i></h2>

    <p>When applying the results of a challenge, observe the following steps, which can be easily remembered with the
        mnemonic device "D.U.C.K."</p>

    <ol>

        <li><b>D</b>etermine challenge result.</li>
        <li><b>U</b>nopposed.</li>
        <li><b>C</b>laim.</li>
        <li><b>K</b>eywords.</li>

    </ol>

    <h2 id="End_of_Phase"><i>End of Phase Timing Sequence</i></h2>

    <p>Numerous abilities reference the end of a phase in a variety of ways. The following is a break down of how such
        sequences are observed.</p>

    <ol>
        <li>Interrupts to the end of phase may be used.</li>
        <li>"<i>Until the end of the phase</i>" lasting abilities (and "<i>during the X phase</i>" abilities) expire.
            This step is the precise moment at which the phase ends, and anything that occurs as a result of the next
            two steps occurs outside of the phase.
        </li>
        <li>"<i>At the end of the phase</i>" delayed effects resolve.</li>
        <li>Reactions to the end of the phase may be used.</li>

    </ol>

    <p>The above can be generalized and used when referring to the end of other periods, such as the end of a challenge
        or the end of a round.</p>

</div>
