{% extends 'Search/display.html.twig' %}
{% import "macros.html.twig" as macros %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ui.card.js') }}"></script>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                {% for card in cards %}
                    <div class="col-sm-7" style="margin-bottom:2em">
                        <div>
                            <div class="panel panel-default border-{{ card.faction_code }}">
                                <div class="panel-heading border-{{ card.faction_code }} bg-{{ card.faction_code }}">
                                    <h3 class="panel-title">
                                        {% include 'Search/card-name-with-link.html.twig' %}
                                    </h3>
                                </div>
                                <div class="panel-body card-content">
                                    {% include 'Search/card-work-in-progress.html.twig' %}
                                    {% include 'Search/card-faction.html.twig' %}
                                    {% include 'Search/card-info.html.twig' %}
                                    {% include 'Search/card-text.html.twig' %}
                                    {% include 'Search/card-flavor.html.twig' %}
                                    {% include 'Search/card-illustrator.html.twig' %}
                                    {% include 'Search/card-pack.html.twig' %}
                                </div>
                            </div>
                            {% if card.errataed %}
                                <p>
                                    <strong>{{ "card.info.errataed_long" | trans({"%url%":  path("faq", {"_fragment": "Card_Errata"})}) | raw }}</strong>
                                </p>
                            {% endif %}
                            <p>Link:
                                <a href="{{ path('decklists_list',{type:'find',_locale:app.request.locale,'cards[]':card.code}) }}">Decklists</a>
                            </p>

                        </div>
                    </div>
                    <div class="col-sm-5" style="margin-bottom:2em">
                        <div>
                            {% if card.image_url %}
                                <img src="{{ card.image_url }}" alt="{{ card.name }}" class="img-responsive"
                                     style="margin:auto">
                            {% else %}
                                <div class="no-image" style="margin:auto">
                                    <div class="no-image-text">{{ 'noimage' | trans }}</div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if includeReviews %}
                        {% include 'Search/display-card-reviews.html.twig' %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

