{% extends 'layout.html.twig' %}
{% import "macros.html.twig" as macros %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ui.decklist_edit.js') }}"></script>
    <script type="text/javascript">
      app.deck.init({{ decklist|json_encode|raw }});
    </script>
{% endblock %}

{% block body %}
    <div class="main white container">

        {% include 'alerts.html.twig' %}
        <div class="row">
            <div class="col-sm-9">
                <form action="{{ url|raw }}" method="post" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="deck_id" value="{% if deck is not null %}{{ deck.id }}{% endif %}">
                    <div class="form-group">
                        <label for="name">{{ 'decklist.publish.name' | trans }}</label>
                        <input type="text" class="form-control" name="name" id="name" value="{{ decklist.name }}">
                    </div>
                    <div class="form-group">
                        <label for="tournament">{{ 'decklist.publish.placedhigh' | trans }}</label>
                        <select class="form-control" name="tournament" id="tournament">
                            <option value="">{{ 'decklist.publish.no' | trans }}</option>
                            {% for tournament in tournaments %}
                                {% if decklist.tournament and tournament.id == decklist.tournament.id %}
                                    <option value="{{ tournament.id }}" selected>{{ tournament.description }}</option>
                                {% elseif tournament.active %}
                                    <option value="{{ tournament.id }}">{{ tournament.description }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="precedent">{{ 'decklist.publish.derived' | trans }}</label>
                        <input type="text" class="form-control" name="precedent" id="precedent"
                               value="{% if not decklist.precedent is null %}{{ decklist.precedent.id }}{% endif %}">
                    </div>
                    <div class="form-group">
                        <label for="descriptionMd">{{ 'decklist.publish.description' | trans }}</label>
                        <textarea class="form-control" autocapitalize="none" autocomplete="off" rows="25"
                                  name="descriptionMd" id="descriptionMd">{{ decklist.descriptionMd }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">{{ 'forms.save' | trans }}</button>
                </form>
            </div>
            <div class="col-sm-3">
                <div id="decklist" class="small"></div>
            </div>
        </div>
    </div>
{% endblock %}
