{#
    @file
    Partial template for rendering a list of pods.

    Available variables:
    - pods: a list of pods
#}
{% for pod in list.joustRestrictedPods %}
    <div class="pod">
        <div class="title text-center"> Pod {{ pod.title }}</div>
        <div class="cards">
            {% if pod.restricted %}
                <div class="pod-card restricted-card col-md-4 col-sm-6">
                    <span class="icon icon-{{ pod.restricted.type_code }} fg-{{ pod.restricted.faction_code }}"></span>
                    <a href="{{ pod.restricted.url }}" class="card-tip"
                       data-code="{{ pod.restricted.code }}">{{ pod.restricted.name }} ({{ pod.restricted.pack_code }})</a>
                </div>
            {% endif %}
            {% for card in pod.cards %}
                <div class="pod-card col-md-4 col-sm-6">
                    <span class="icon icon-{{ card.type_code }} fg-{{ card.faction_code }}"></span>
                    <a href="{{ card.url }}" class="card-tip"
                       data-code="{{ card.code }}">{{ card.name }} ({{ card.pack_code }})</a>
                </div>
            {% endfor %}
            <div class="clearfix visible"></div>
        </div>
    </div>
{% endfor %}
