<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <title>{{ pagetitle|default('Deckbuilder') }} &middot; ThronesDB</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if not allow_search_engine_tracking %}
        <meta name="robots" content="noindex">
    {% endif %}
    <meta name="mobile-web-app-capable" content="yes">
    {% block meta %}{% endblock %}
    <link rel="icon" sizes="192x192" href="/icon-192.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/icon-120.png"/>
    {% set _route = app.request.attributes.get('_route') %}
    {% set _get_params = app.request.attributes.get('_get_params')|default({}) %}
    {% set _route_params = app.request.attributes.get('_route_params')|default({})|merge(_get_params) %}
    {% if app.request.locale != "en" and _route != "" %}
        <link rel="canonical" href="{{ url(_route, _route_params|merge({'_locale': 'en'})) }}"/>
    {% endif %}
    {% if pagedescription is defined %}
        <meta name="description" content="{{ pagedescription }}">
    {% endif %}

    <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i|Julius+Sans+One|Open+Sans:400,400i,700,700i|Open+Sans+Condensed:300'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.1/jquery.qtip.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.9.0/css/bootstrap-markdown.min.css">
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"/>
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet"/>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            {% block navbar %}
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('index') }}">
                        <span class="icon icon-link-half-top"></span>
                        <span class="icon icon-link-half-bottom"></span>
                        <span class="icon icon-power"></span> ThronesDB
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('decks_list') }}">{{ 'nav.mydecks' | trans }}</a></li>
                        <li><a href="{{ path('decklists_list') }}">{{ 'nav.decklists' | trans }}</a></li>
                        <li><a href="{{ path('cards_search') }}">{{ 'nav.cards' | trans }}</a></li>
                        <li class="hidden-sm"><a href="{{ path('card_reviews_list') }}">{{ 'nav.reviews' | trans }}</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">{{ 'nav.rules' | trans }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('rulesreference') }}">{{ 'nav.rulesreference' | trans }}</a></li>
                                <li><a href="{{ path('faq') }}">{{ 'nav.faq' | trans }}</a></li>
                                <li>
                                    <a href="{{ path('restrictions') }}">{{ 'nav.restrictions' | trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('tournamentregulations') }}">{{ 'nav.tournamentregulations' | trans }}</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown hidden-xs hidden-lg">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><span class="fas fa-search"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <form action="{{ path('cards_find') }}">
                                        <input type="text" placeholder="{{ 'nav.cardsearch' | trans }}"
                                               class="form-control smart-filter-help" name="q">
                                    </form>
                                </li>
                                <li><a href="">{{ 'nav.syntax' | trans }}</a></li>
                            </ul>
                        </li>
                        <li class="hidden-xs hidden-sm hidden-md hidden-lg">
                            <a href="{{ path('syntax') }}">{{ 'nav.syntax' | trans }}</a>
                        </li>
                        <li id="login">
                            <a href="#" class="disabled"><span class="fas fa-user"></span></a>
                        </li>
                        <!-- locale selection -->
                        {% if _route is not empty %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="lang-sm"
                                          lang="{{ app.request.locale | default(default_locale) }}"></span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    {% for supported_locale in supported_locales %}
                                        <li>
                                            <a href="{{ path(_route, _route_params|merge(_get_params)|merge({'_locale': supported_locale})) }}">
                                                <span lang="{{ supported_locale }}"
                                                      class="lang-sm lang-lbl lang-lbl-full"></span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                    <form class="navbar-form navbar-right visible-lg-block visible-xs-block external"
                          action="{{ path('cards_find') }}">
                        <div class="input-group">
                            <input type="text" placeholder="{{ 'nav.cardsearch' | trans }}"
                                   class="form-control smart-filter-help" name="q">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-info"><span class="fas fa-search"></span></button>
                            </span>
                            <span class="input-group-btn">
                                <a class="btn btn-link" href="{{ path('syntax') }}">{{ 'nav.syntax' | trans }}</a>
                            </span>

                        </div>
                    </form>
                </div><!--/.navbar-collapse -->
            {% endblock %}
        </div>
    </nav>

    {% block body %}{% endblock %}
    <div id="push"></div>
</div>
<footer class="hidden-print">
    <div class="container">

        {% block footer %}
            {% include 'footer.'~ app.request.locale ~'.html.twig' %}
        {% endblock %}

    </div>
</footer>
{% include 'Modale/card.html.twig' %}
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
<![endif]-->
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/forerunnerdb/1.4.40/fdb-all.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.1/jquery.qtip.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/0.2.2/jquery.textcomplete.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highcharts/4.1.7/highcharts.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.9.0/js/bootstrap-markdown.min.js"></script>
<script src="{{ asset('js/vendor.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
<script src="{{ asset('js/translations.js') }}"></script>

<script type="text/javascript">
  var app = {};
  moment.locale('{{ app.request.locale }}');
</script>
<script src="{{ asset('js/app.js') }}"></script>
<script>
  window.addEventListener("load", function () {
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#000"
        },
        "button": {
          "background": "#f1d600"
        }
      }
    })
  });
</script>
{% if app.environment == 'prod' %}
    {% include 'Default/google-analytics.html.twig' %}
{% endif %}
{% block javascripts %}{% endblock %}
</body>
</html>
