{% extends 'AppBundle::layout.html.twig' %}

{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/ui.decks.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}

    <div class="main white container">

        <div class="row">

            <!-- Right-side column -->
            <div class="col-md-4 col-md-push-8">

                <div class="row" style="margin-bottom:10px">
                    <div class="col-md-12">
                        <a href="{{ path('deck_buildform') }}"
                           class="btn btn-default btn-sm"{% if cannotcreate %} disabled="disabled"{% endif %}>
                            <span class="fas fa-plus"></span>
                            {{ 'decks.form.new' | trans }}
                        </a>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle btn-sm"
                                    data-toggle="dropdown"{% if cannotcreate %} disabled="disabled"{% endif %}>
                                <span class="fas fa-file-import"></span>
                                {{ 'decks.form.import.label' | trans }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ path('deck_import') }}" id="btn-import-paste">
                                        {{ 'decks.form.import.copypaste' | trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick="$('#fileModal').modal('show')" id="btn-import-file">
                                        {{ 'decks.form.import.file' | trans }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom:10px">
                    <div class="col-md-12">
                        <div class="btn-group" id="btn-group-selection">
                            <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                                <span class="fas fa-check"></span>
                                {{ 'decks.form.selection.label' | trans }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-header">
                                    <span class="fas fa-exchange-alt"></span>
                                    {{ 'decks.form.selection.compare.label' | trans }}
                                </li>
                                <li>
                                    <a href="#" id="btn-compare">
                                        {{ 'decks.form.selection.compare.twodecks' | trans }}
                                    </a>
                                </li>
                                <li class="dropdown-header">
                                    <span class="fas fa-tag"></span>
                                    {{ 'decks.form.selection.tags.label' | trans }}
                                </li>
                                <li>
                                    <a href="#" id="btn-tag-add">{{ 'decks.form.selection.tags.add' | trans }}</a>
                                </li>
                                <li><a href="#" id="btn-tag-remove-one">
                                        {{ 'decks.form.selection.tags.remove' | trans }}
                                    </a>
                                </li>
                                <li><a href="#" id="btn-tag-remove-all">
                                        {{ 'decks.form.selection.tags.clear' | trans }}
                                    </a>
                                </li>
                                <li class="dropdown-header">
                                    <span class="fas fa-trash-alt"></span>
                                    {{ 'decks.form.selection.delete.label' | trans }}
                                </li>
                                <li>
                                    <a href="#" id="btn-delete-selected">
                                        <span style="color:red" class="fas fa-exclamation-triangle"></span>
                                        {{ 'decks.form.selection.delete.selected' | trans }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:10px">
                    <div class="col-md-12" id="tag_toggles" title="{{ 'decks.form.labelswitch' | trans }}"></div>
                </div>

            </div>
            <!-- / Right-side column -->

            <!-- Left-side column -->
            <div class="col-md-8 col-md-pull-4">

                <h1>
                    {{ 'decks.privatedecks' | trans }}
                    <small style="font-size:16px" class="hidden-xs {% if cannotcreate %}text-danger{% endif %}">
                        {{ 'decks.slotcount' | trans({'%max%': nbmax, '%current%': nbdecks}) }}
                    </small>
                </h1>

                <table class="table table-expanded list-decks">
                    <tbody id="decks">
                    {% for deck in decks %}
                        <tr data-id="{{ deck.id }}" data-uuid="{{ deck.uuid }}">
                            <td><input type="checkbox"></td>
                            <td class="hidden-xs">
                                <img
                                    src="/bundles/app/images/factions/{{ deck.faction.code }}.png"
                                    title="{{ deck.faction.name }}"
                                >
                                {% for agenda in deck.slots.agendas %}
                                    {% if agenda.card.imageUrl %}
                                        <img src="{{ agenda.card.imageUrl }}" title="{{ agenda.card.name }}">
                                    {% else %}
                                        <img src="/bundles/app/images/no-card.png" title="{{ agenda.card.name }}">
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{{ path('deck_view',{deck_uuid:deck.uuid}) }}"
                                   class="deck-name">{{ deck.name }}</a> {{ deck.version }}
                                <div class="restricted-list-info">
                                    <em>{{ 'restrictedlist.title' | trans }}:</em>
                                    {% if deck.isLegalForJoust %}
                                        <span class="text-success">
                                            <i class="fas fa-check"></i>
                                            {{ 'restrictedlist.joust' | trans }}
                                        </span>
                                    {% else %}
                                        <span class="text-danger">
                                            <i class="fas fa-times"></i>
                                            {{ 'restrictedlist.joust' | trans }}
                                        </span>
                                    {% endif %}
                                    |
                                    {% if deck.isLegalForMelee %}
                                        <span class="text-success">
                                            <i class="fas fa-check"></i>
                                            {{ 'restrictedlist.melee' | trans }}
                                        </span>
                                    {% else %}
                                        <span class="text-danger">
                                            <i class="fas fa-times"></i>
                                            {{ 'restrictedlist.melee' | trans }}
                                        </span>
                                    {% endif %}

                                </div>
                                {% if deck.problem is not null %}
                                    <div class="text-danger small">
                                        <span class="fas fa-exclamation-triangle"></span>
                                        {{ deck_validation_helper.getProblemLabel(deck.problem) }}
                                    </div>
                                {% endif %}
                                <div class="tags">
                                    {% for tag in deck.tags|split(' ') %}
                                        <span class="tag" data-tag="{{ tag }}">{{ tag }}</span>
                                    {% endfor %}
                                </div>
                            </td>
                            <td class="decks-actions text-right">
                                <a href="{{ path('deck_edit',{deck_uuid:deck.uuid}) }}" class="btn btn-xs btn-default"
                                   data-toggle="tooltip" title="{{ 'forms.edit' | trans }}">
                                    <span class="fas fa-pencil-alt fa-fw"></span>
                                </a>
                                <a href="{{ path('deck_publish_form',{deck_uuid:deck.uuid}) }}"
                                   class="btn btn-xs btn-default" data-toggle="tooltip"
                                   title="{{ 'forms.publish' | trans }}">
                                    <span class="fas fa-share fa-fw"></span>
                                </a>
                                <button class="btn btn-xs btn-default btn-delete-deck" data-toggle="tooltip"
                                        title="{{ 'forms.delete' | trans }}">
                                    <span class="fas fa-trash-alt fa-fw"></span>
                                </button>
                                <a href="{{ path('deck_clone', {deck_uuid:deck.uuid}) }}"
                                   class="btn btn-xs btn-default" data-toggle="tooltip"
                                   title="{{ 'forms.clone' | trans }}">
                                    <span class="fas fa-clone fa-fw"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div id="deck"></div>

            </div>
            <!-- / Left-side column -->

        </div>
    </div><!-- /.container -->

    {% include 'AppBundle:Modale:file.html.twig' %}
    {% include 'AppBundle:Modale:delete.html.twig' %}
    {% include 'AppBundle:Modale:delete_list.html.twig' %}
    {% include 'AppBundle:Modale:export.html.twig' %}
    {% include 'AppBundle:Modale:odds.html.twig' %}
    {% include 'AppBundle:Modale:tag_add.html.twig' %}
    {% include 'AppBundle:Modale:tag_remove.html.twig' %}
    {% include 'AppBundle:Modale:tag_clear.html.twig' %}
    {% include 'AppBundle:Modale:diff.html.twig' %}

{% endblock %}
